<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://selfmonitoring.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7d853997-a202-4562-87f4-932e86d46d30/resourcegroups/ContosoHealthShared/providers/Microsoft.Web/sites/SelfMonitoring</ResourceId>
    <UserName>$SelfMonitoring</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://selfmonitoring.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>